* {
    margin: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 5px;
}

nav {
    background-color: rgb(66, 66, 66);
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
    color: rgb(238, 238, 238);
}

nav ul li:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(66, 66, 66);
}

.carousel {
    height: 200px;
    background-color: rgb(238, 238, 238);
}

section h2 {
    text-align: center;
    font-size: 20px;
    color: rgb(66, 66, 66);
    margin: 40px;
}

section h2 span {
    font-size: 14px;
}

.articles {
    display: flex;
    justify-content: space-between;
}

article {
    height: 300px;
    background-color: rgb(238, 238, 238);
    width: 33%;
}

form {
    border-top: 1px black solid;
    margin-top: 80px;
}

input, textarea {
    display: block;
    width: 70%;
    margin: 10px auto;
}

textarea {
    height: 100px;
}